In [2]:
import numpy as np
import pandas as pd

In [ ]:
#There are 3 Data types in Pandas

1.Series
2.DataFrames
3.Panel

In [ ]:
#General Sysntax For Series Data Types:
pandas.Series(data,index,dtype,copy)

In [ ]:
# Creation of a series from a ndaraay.

In [5]:
data = np.array(['Delhi','Mumbai','Kolkata','Chennai'])
x = pd.Series(data)
x

0      Delhi
1     Mumbai
2    Kolkata
3    Chennai
dtype: object

In [ ]:
# Req The Indexes needs to be 1001 ,1002,1003,1004 instaed of 0,1,2,3,

In [6]:
data = np.array(['Delhi','Mumbai','Kolkata','Chennai'])
x = pd.Series(data, index=[1000,1001,1002,1003])
x

1000      Delhi
1001     Mumbai
1002    Kolkata
1003    Chennai
dtype: object

In [ ]:
# Creating a series from a dictionary.

In [7]:
data = {'a':1,'b':2,'c':3,'d':4}

In [8]:
x = pd.Series(data)
x

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
data = {'a':"s",'b':"a",'c':"t",'d':"y",'e':"a"}

In [12]:
x = pd.Series(data)
x

a    s
b    a
c    t
d    y
e    a
dtype: object

In [ ]:
#The Keys will be acting as an indexes for dictionary.

In [13]:
data = {'a':1,'b':2,'c':3,'d':4}

In [14]:
y = pd.Series(data, index=['b','c','d','a'])
y

b    2
c    3
d    4
a    1
dtype: int64

In [ ]:
# Introduction to Scalars : Any Canstanct Values are known as scalars.

In [ ]:
# Req:Creating a series datatype with sclar.

In [15]:
s = pd.Series(10, index= [1,2,3,4,5,6,7,8,9,10])
print(s)

1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
dtype: int64

In [16]:
s = pd.Series("satya", index= [1,2,3,4,5,6,7,8,9,10])
print(s)

1     satya
2     satya
3     satya
4     satya
5     satya
6     satya
7     satya
8     satya
9     satya
10    satya
dtype: object

In [ ]:
# Understanding The Concepts of Data_Frames ,2d Data

Creating an empty DataFrame.

In [17]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Creation Of a dataframe from a list.

In [18]:
data = [1,2,3,4,5,6,7,8,9,10]

In [19]:
df = pd.DataFrame(data)
print(df)

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [20]:
data1 = ['Delhi','Mumbai','Kolkata','Chennai']

In [21]:
df = pd.DataFrame(data1)
print(df)

         0
0    Delhi
1   Mumbai
2  Kolkata
3  Chennai

In [ ]:
# Creating a dataframe from dict of ndarrays/Lists.

In [22]:
data ={'Name':['Rohit','Dhawan','Virat','Shreya','Dhoni'],'scores':[10,45,106,67,87]}

In [25]:
df = pd.DataFrame(data)
print(df)

     Name  scores
0   Rohit      10
1  Dhawan      45
2   Virat     106
3  Shreya      67
4   Dhoni      87

In [ ]:
# Req :To Analyze the Data from "artwork_data.csv"

In [27]:
df = pd.read_csv('artwork_data.csv')
df

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69196,122960,T13865,"P-Orridge, Genesis",artist,16646,Larvae (from Tampax Romana),1975,"Perspex, Wood, hairpiece, tampon and human blood",Transferred from Tate Archive 2012,1975,2013.0,object: 305 x 305 x 135 mm,305,305,135.0,mm,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69197,122961,T13866,"P-Orridge, Genesis",artist,16646,Living Womb (from Tampax Romana),1976,"Wood, Perspex, plastic, photograph on paper, t...",Transferred from Tate Archive 2012,1976,2013.0,object: 305 x 305 x 135 mm,305,305,135.0,mm,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69198,121181,T13867,"Hatoum, Mona",artist,2365,Present Tense,1996,Soap and glass beads,Presented by Tate Members 2013,1996,2013.0,displayed: 45 x 2410 x 2990 mm,45,2410,2990.0,mm,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/hatoum-pre...
69199,112306,T13868,"Creed, Martin",artist,2760,Work No. 227: The lights going on and off,2000,Gallery lighting,"Purchased with funds provided by Tate Members,...",2000,2013.0,Overall display dimensions variable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/creed-work...
69200,127035,T13869,"Brunias, Agostino",artist,3824,Dancing Scene in the West Indies,1764–96,Oil paint on canvas,Purchased with assistance from Tate Patrons an...,1764,2013.0,unconfirmed: 508 x 660 mm,508,660,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/brunias-da...

In [ ]:
# Req1 = To Get the only 5 rows only.

In [28]:
df = pd.read_csv('artwork_data.csv',nrows=5)
df

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [ ]:
# Req_2 = To Get the columns --->ID ,ARTIST,TITLE,YEAR with 2 rows of data.

In [45]:
df = pd.read_csv('artwork_data.csv',nrows=2,index_col='id',usecols=['id','artist','title','year'])
df

             artist                                              title  year
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...   NaN
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...   NaN

In [ ]:
# Req_3 = additional columns .

In [69]:
COLUMNS_TO_USE = ['id','artist','title','medium','year','height','width']

In [71]:
df = pd.read_csv('artwork_data.csv'nrows = 2,index_col = 'id',usecols = COLUMNS_TO_USE)

df

SyntaxError: invalid syntax (<ipython-input-71-b4d34fc86200>, line 1)

In [ ]:
----------------------Please help me here -----------------

In [ ]:
_pickle() :pickle (serialize) object to file.File path where the pickled object will be stored.

In [65]:
g = pd.read_pickle('dataframe_b15.pickle')
g

FileNotFoundError: [Errno 2] No such file or directory: 'dataframe_b15.pickle'

In [ ]:
----------------------Please help me here -----------------