In [3]:
import numpy as np

In [4]:

students = np.array([['ashok','neha','diksha','satya'],
                     [45,40,65,75],
                     [80,30,34,95]])

In [ ]:
# Flattening the multi -dimmensional array
# By Default The numpy array is row wise splittted.

In [7]:
for a in students.flatten():
    print(a)

ashok
neha
diksha
satya
45
40
65
75
80
30
34
95

In [ ]:
# Introduction to nditer

In [8]:
x = np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [10]:
for i in np.nditer(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# Column Wise Iteartion

In [11]:
for i in np.nditer(x,order = 'F'):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11

In [ ]:
# Column Wise Iteration #Forton Order Iterations.

In [12]:
for i in np.nditer(x,order = 'F'):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11

In [ ]:
# Array Shape Manipulation.

In [13]:
a = np.array([('Delhi','Mumbai','Calcutta','Chennai'),
             ('Bangalore','Hyderabad','Pune','Ahmadabad')])

In [14]:
a

array([['Delhi', 'Mumbai', 'Calcutta', 'Chennai'],
       ['Bangalore', 'Hyderabad', 'Pune', 'Ahmadabad']], dtype='<U9')

In [15]:
a.shape    #This is a 2d-Array

(2, 4)

In [16]:
a.ravel()

array(['Delhi', 'Mumbai', 'Calcutta', 'Chennai', 'Bangalore', 'Hyderabad',
       'Pune', 'Ahmadabad'], dtype='<U9')

In [17]:
a.shape

(2, 4)

In [ ]:
# View & Copy

View:-------->Shallow Copyinng
Copy--------->Deep Copying

In [ ]:
# Understanding of Shallow Copying:

In [19]:
fruits = np.array (['Apple','Mango','Grapes','Watermelon'])   #This is original

In [20]:
basket_1 = fruits.view()
basket_2 = fruits.view()

In [21]:
print(basket_1)       #This is the dulplicate copy
print(basket_2)

['Apple' 'Mango' 'Grapes' 'Watermelon']
['Apple' 'Mango' 'Grapes' 'Watermelon']

In [24]:
print('Ids for the arrays are not same')
print('id for fruits is :\n')
print(id(fruits))
print("ids for basket is:\n")
print(id(basket_1))
print(id(basket_2))

Ids for the arrays are not same
id for fruits is :

2571125389952
ids for basket is:

2571125390512
2571125388912

In [25]:
basket_1 is fruits

False

In [27]:
basket_1.base is fruits

True

In [28]:
print(fruits)

['Apple' 'Mango' 'Grapes' 'Watermelon']

In [29]:
print(basket_1)

['Apple' 'Mango' 'Grapes' 'Watermelon']

In [31]:
basket_1[2] = 'Banana'   #position of Grapes has been changed to Banana

In [32]:
print(basket_1)

['Apple' 'Mango' 'Banana' 'Watermelon']

In [33]:
print(fruits)

['Apple' 'Mango' 'Banana' 'Watermelon']

In [ ]:
# Understanding Of Deep Copying

In [34]:
fruits = np.array (['Apple','Mango','Grapes','Watermelon'])

In [35]:
basket = fruits.copy()

In [36]:
basket

array(['Apple', 'Mango', 'Grapes', 'Watermelon'], dtype='<U10')

In [37]:
basket is fruits

False

In [38]:
basket.base is fruits

False

In [41]:
basket[2] = 'Banana'

In [42]:
print(basket)

['Apple' 'Mango' 'Banana' 'Watermelon']

In [43]:
print(fruits)

['Apple' 'Mango' 'Grapes' 'Watermelon']